* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
main {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.eye-icon {
  right: 20px;
  cursor: pointer;
}

.navbar-link:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .new-view-all-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
