* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
main {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.eye-icon {
  right: 20px;
  cursor: pointer;
}

.navbar-link:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .new-view-all-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

.entry-date {
  width: 15%;
}

.entry-day {
  font-size: 0.75em;
}

.entry-mood {
  width: 15%;
  font-size: 0.75em;
}

.entry-title {
  width: 40%;
  font-size: 1em;
}

.entry-time {
  width: 15%;
  font-size: 0.75em;
}

.entry-expander {
  width: 15%;
}
